.calendar-tile {
  flex: auto;
  flex-grow: 0;
  height: 200px;
  width: 200px;
  margin-left: .5%;
  margin-right: .5%;
  padding-left: 5px;
  padding-right: 5px;
}

.bold {
  font-family: "RalewayBold";
}

.font {
  font-family: "Raleway";
}

.calendar-dow {
  text-align: center;
  font-size: 20px;
  color: #F7B600;
}

.calendar-title {
  padding-top: 10px;
}

.calendar-loc {
}

.calendar-time {

}
